.header{
    position: fixed;
    width: 100%;
    z-index:999;
    background-color: #fefaf6;
}
.nav{
    max-width: 1600px;
    width: 100%;
    margin:0 auto;
    position: relative;
    display: block;
}
.ul{
    margin: 0 auto;
    list-style-type: none;
    display: flex;
    padding: 0;
    overflow: hidden;
    max-width: 90%;
    box-sizing: border-box;
    align-items: center;
    margin:0 auto;
    font-family: Biotif-Regular,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 18px;
}
.li{
    display: list-item;
    width: 10%;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
}
.eyesLeft{
    background: black;
    width: 45px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}
.eyesRight{
    background: black;
    width: 45px;
    height: 30px;
    border-radius: 50%;
    margin-left: 5px;
}